*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    /* background-color: blueviolet; */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

/* Class for buttons */
.btn{
    background-color: white;
    border: 1px solid white;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    margin: 10px 19px;
    box-shadow: 13px 13px 20px #c7c7c7,
    -13px -13px 20px rgb(249, 249, 249);
    color: grey;
}
.btn:active{
    outline: none;
    background-color: rgb(82, 245, 182);
    border-color: rgb(82, 245, 182);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 590px;
    width: 400px;
    border: 2px solid white;
    border-radius: 25px;
    box-shadow: 13px 13px 20px #c7c7c7,
    -13px -13px 20px rgb(249, 249, 249);
}

#history{
    border: 1px solid white;
    height: 50px;
    width: 90%;
    display: flex;
    align-items: center;
    margin: 10px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 13px 13px 20px #c7c7c7,
    -13px -13px 20px rgb(249, 249, 249);
}
#history h4{
    padding: 20px;
    font-weight: 100;
    color: grey;
}

#calculation{
    width: 100%;
    height: 50px;
    border-radius: 50px;
    border: 2px solid white;
    background-color: white;
    outline: none;
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
    color: grey;
}

.calc {
    margin-top: 20px;
    color: rgb(11, 188, 241);
    font-size: 18px;
    font-family: monospace;
}

.symbols{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* background-color: blueviolet; */
}

.empty{
    border-color: white;
    box-shadow: 13px 13px 20px white,
    -13px -13px 20px white;
}
.empty:active{
    background-color: white;
    border-color: white;
    cursor: none;
}

.equals{
    background-color: rgb(113, 240, 113);
    border-color: rgb(113, 240, 113);
    color: white;
}

.clear{
    background-color: rgb(240, 108, 108);
    color: white;
    border-color: rgb(240, 108, 108);
}

/* Media Queries */
@media only screen and (max-width: 690px) {
    .container{
        height: 520px;
        width: 300px;
    }

    .btn{
        margin: 5px 12px;
    }
    .symbols{
        margin-top: 20px;
    }
}

@media only screen and (max-width: 358px) {
    .container{
        height: 470px;
        width: 260px;
    }

    .btn{
        margin: 5px 5px;
    }
    .symbols{
        margin-top: 10px;
    }
    #history{
        height: 30px;
    }
    #calculation{
        height: 20px;
        font-weight: 500;
    }
}
